:root {
  --green: rgb(46, 202, 46);
  --blue: #1497e9;
  --dark-blue: #0072ff;
  --red: #e9142d;
  --gradient90: linear-gradient(-90deg, #00c6ff, #0072ff);
  --gradient45: linear-gradient(-45deg, #00c6ff, #0072ff);
  --display-font: 'Work Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background: var(--gradient90); */
}

a {
  text-decoration: none;
}

main {
  flex: 1;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

header {
  text-align: center;
}

h1 {
  font-family: var(--display-font);
  position: relative;
  top: 15px;
  font-size: 3.5em;
  line-height: 100%;
  letter-spacing: -0.5px;
  color: transparent;
  background: #0072ff;
  background: var(--gradient90);
  -webkit-background-clip: text;
  background-clip: text;
  background-attachment: fixed;
}

h2 {
  font-weight: normal;
  margin-top: 25px;
  color: grey;
}

.map-container {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px 30px 30px;
}

path {
  outline: none;
}

.tab-selected:focus {
  stroke: #0072ff;
  stroke-width: 5px;
}

.st0:hover {
  fill: #c0bfbf;
}

.correct {
  fill: var(--green);
}

.incorrect {
  fill: var(--red);
}

.grey {
  fill: #d0d0d0;
}

.score {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 190px;
  padding: 20px 10px;
  border-radius: 0 0 0 15px;
  right: 0;
  top: 0;
  background: #0072ff;
  background: var(--gradient45);
  color: #fff;
  text-align: center;
}

.score-container {
  margin: 0 10px;
  font-size: 0.95rem;
}

.number {
  font-family: var(--display-font);
  font-size: 2rem;
}

.divider {
  border-right: 1px dotted #fff;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) scale(0);
  background: #0072ff;
  background: var(--gradient45);
  color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 15px 20px 50px -20px rgb(34 34 34 / 70%);
}

.praise {
  font-size: 2.5rem;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 10px;
}

.restart-btn {
  background: var(--green);
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  box-shadow: 5px 5px 10px -5px rgba(0 0 0 / 20%);
}

.restart-btn:hover {
  filter: contrast(1.1);
}

.restart-btn:active {
  transform: scale(0.99);
}

.grow {
  animation: grow 0.3s linear forwards;
}

@keyframes grow {
  to {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 175px;
  background: var(--gradient45);
  color: #fff;
  margin-top: 100px;
  text-align: center;
}

footer a {
  color: #fff;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: 20px 0;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  transition: transform 100ms;
  background: url('../img/contact-icons.svg') no-repeat;
  background-size: cover;
}

.icon:hover {
  transform: scale(1.05) translateY(-1px);
}

.twitter-icon {
  background-position: -1px 0px;
}

.github-icon {
  background-position: -37px 0px;
  width: 31px;
}

.email-icon {
  background-position: -75px 0px;
}

@media (pointer: coarse) {
  path:focus {
    stroke: transparent;
    stroke-width: 0;
  }
}

@media (pointer: coarse) and (orientation: landscape) {
  .map-container {
    height: 80vh;
    padding: 10px;
    margin-top: -40px;
  }

  .score {
    width: 200px;
  }
}

@media screen and (max-width: 815px) and (orientation: landscape) {
  .content {
    height: 90vh;
    display: flex;
    justify-content: center;
  }

  header {
    width: 60vw;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  .map-container {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    height: 70vh;
  }

  .score {
    left: 0;
    top: unset;
    bottom: 0;
    border-radius: 0 15px 0 0;
    width: 225px;
  }
}

@media screen and (max-width: 550px) {
  header {
    position: relative;
    top: 15px;
  }

  .score-container {
    font-size: 1.5rem;
  }

  .score {
    position: fixed;
    width: 100vw;
    border-radius: 0;
    top: unset;
    bottom: 0;
  }

  .map-container {
    padding: 5px;
    height: 60vh;
  }

  footer {
    margin-top: 0;
    margin-bottom: 90px;
  }
}
