:root {
  --green: rgb(46, 202, 46);
  --blue: #1497e9;
  --red: #e9142d;
  --display-font: 'Work Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  text-align: center;
}

h1 {
  font-family: var(--display-font);
  position: relative;
  top: 15px;
  font-size: 3.5em;
  line-height: 100%;
  letter-spacing: -0.5px;
  color: transparent;
  background: #0072ff;
  background: linear-gradient(-90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  background-clip: text;
  background-attachment: fixed;
}

h2 {
  font-weight: normal;
  margin-top: 25px;
  color: grey;
}

.map-container {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px 30px 30px;
  margin-top: -20px;
}

.st0:hover {
  fill: #c0bfbf;
}

.correct {
  fill: var(--green);
}

.incorrect {
  fill: var(--red);
}

.grey {
  fill: #d0d0d0;
}

.score {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 200px;
  padding: 20px 10px;
  border-radius: 15px 0 0 0;
  right: 0;
  bottom: 0;
  background: #0072ff;
  background: linear-gradient(-45deg, #00c6ff, #0072ff);
  color: #fff;
  text-align: center;
}

.number {
  font-family: var(--display-font);
  font-size: 2rem;
}

.divider {
  border-right: 1px dotted #fff;
}

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) scale(0);
  background: #0072ff;
  background: linear-gradient(-45deg, #00c6ff, #0072ff);
  color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  box-shadow: 15px 20px 50px -20px rgb(34 34 34 / 70%);
}

.game-over p {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: -1.5px;
}

.restart-btn {
  background: var(--green);
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 7px;
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  box-shadow: 5px 5px 10px -5px rgba(0 0 0 / 20%);
}

.restart-btn:hover {
  filter: contrast(1.1);
}

.restart-btn:active {
  transform: scale(0.99);
}

.grow {
  animation: grow 0.3s linear forwards;
}

@keyframes grow {
  to {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (pointer: coarse) and (orientation: landscape) {
  .map-container {
    position: relative;
    padding: 10px;
    margin-top: -40px;
  }

  .score {
    width: 150px;
  }
}

@media screen and (max-width: 815px) and (orientation: landscape) {
  .content {
    height: 90vh;
    display: flex;
    justify-content: center;
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .map-container {
    padding: 0;
    margin: 20px 0 0 50px;
  }

  .score {
    left: 0;
    border-radius: 0 15px 0 0;
    width: 225px;
  }
}

@media screen and (max-width: 550px) {
  header {
    top: 15px;
  }

  header,
  .score {
    position: fixed;
    width: 100vw;
    border-radius: 0;
  }

  .map-container {
    height: 100vh;
    padding: 5px;
  }
}
